---
import "../styles/global.css";
import Navbar from "../components/Navbar.svelte";
import Footer from "../components/Footer.svelte";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Jewelry Site</title>
  </head>
  <body>
    <Navbar client:load />
    <main class="min-h-screen">
      <slot />
    </main>
    <Footer client:load />
  </body>
</html>
